## Analysing the impact of temperature on crop yield 
Done by Nicholas Dale (falconpunch082)

Objective: To determine how temperature impacts crop yield of different crops
            by creating a DataFrame containing relevant columns and then
            creating a scatter plot of temperature vs crop yield for each
            unique crop in the dataset.

In [1]:
# Creating dependencies for setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pathlib import Path

**Data Synthesis and Cleanup**
- crop_yield.csv has a lot of columns, but does not have an annual temperature column.
- TEMP_ANNUAL_SEASONAL_MEAN.csv contains information of annual temperature of the ENTIERTY of India.
- We will create new DataFrames specially designed to answer the relationship between temperature and crop yield for each crop by taking the columns of 'crop' and 'crop_year' from crop_yield.csv.
- While states are provided, there are no free sources of annual temperature of each Indian state by year. Therefore, one limitation in analysing this data would be the generalisation of temperature when India actually has different climates within its borders.

In [2]:
# Creating file paths for each .csv file
crop_csv = Path("resources/crop_yield.csv")
temp_csv = Path("resources/TEMP_ANNUAL_SEASONAL_MEAN.csv")

# Creating DataFrames from each .csv file
crop = pd.read_csv(crop_csv)
temp = pd.read_csv(temp_csv)

# removing any results from both DataFrames that contain null values
crop.dropna(how='any')
temp.dropna(how='any')

       YEAR ANNUAL JAN-FEB MAR-MAY JUN-SEP OCT-DEC
0    1901.0  25.42   20.11   27.64   28.16    23.1
1    1902.0  25.42   20.88   27.96   27.98   22.51
2    1903.0  25.01   19.99   27.02      28   22.33
3    1904.0  24.93   19.76   27.23   27.57   22.56
4    1905.0  24.84   18.36   26.38    28.2   23.13
..      ...    ...     ...     ...     ...     ...
116  2017.0  26.04   21.37    28.2   28.39   23.84
117  2018.0   25.9   21.24   28.16   28.28   23.55
118  2019.0  25.86   20.71      28    28.6   23.49
119  2020.0  25.78   20.79   27.58   28.45   23.75
120  2021.0  25.93   21.43   27.97   28.36   23.66

[121 rows x 6 columns]

In [3]:
# Previewing crop DataFrame
crop.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [4]:
# Previewing temp DataFrame
temp.head()

     YEAR ANNUAL JAN-FEB MAR-MAY JUN-SEP OCT-DEC
0  1901.0  25.42   20.11   27.64   28.16    23.1
1  1902.0  25.42   20.88   27.96   27.98   22.51
2  1903.0  25.01   19.99   27.02      28   22.33
3  1904.0  24.93   19.76   27.23   27.57   22.56
4  1905.0  24.84   18.36   26.38    28.2   23.13

In [6]:
# Converting temp['YEAR'] into int to match crop['Crop_Year']
temp = temp.fillna(value=0)
temp['YEAR'] = temp['YEAR'].astype(int)

# Previewing temp DataFrame to see if change has occured
temp.head()

   YEAR ANNUAL JAN-FEB MAR-MAY JUN-SEP OCT-DEC
0  1901  25.42   20.11   27.64   28.16    23.1
1  1902  25.42   20.88   27.96   27.98   22.51
2  1903  25.01   19.99   27.02      28   22.33
3  1904  24.93   19.76   27.23   27.57   22.56
4  1905  24.84   18.36   26.38    28.2   23.13

In [12]:
# Merging both DataFrames
merged = crop.merge(temp, how='left', left_on='Crop_Year', right_on='YEAR')
merged.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield,YEAR,ANNUAL,JAN-FEB,MAR-MAY,JUN-SEP,OCT-DEC
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087,1997,25.35,20.2,27.23,28.13,23.22
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435,1997,25.35,20.2,27.23,28.13,23.22
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333,1997,25.35,20.2,27.23,28.13,23.22
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739,1997,25.35,20.2,27.23,28.13,23.22
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909,1997,25.35,20.2,27.23,28.13,23.22

In [21]:
# Picking out relevant columns
cleaned = merged[['Crop', 'Crop_Year', 'Area', 'Production', 'ANNUAL', 'Yield']]
cleaned = cleaned.rename({'Crop_Year': 'Year', 'ANNUAL': "Annual Temperature"}, axis='columns')
cleaned.head()

# Description of variables:
# - Crop: name of crop cultivated
# - Year: year in which crop was grown
# - Area: total land area in hectares under cultivation
# - Production: quantity of crop production in metric tons
# - Annual Temperature: temperature of entire India each year in degrees Celcius
# - Yield : production/area

           Crop  Year     Area  Production Annual Temperature        Yield
0      Arecanut  1997  73814.0       56708              25.35     0.796087
1     Arhar/Tur  1997   6637.0        4685              25.35     0.710435
2   Castor seed  1997    796.0          22              25.35     0.238333
3      Coconut   1997  19656.0   126905000              25.35  5238.051739
4  Cotton(lint)  1997   1739.0         794              25.35     0.420909

In [26]:
# The plan now is to create multiple DataFrames based on each crop.
crop_list = cleaned['Crop'].unique().tolist()
crop_list

['Arecanut',
 'Arhar/Tur',
 'Castor seed',
 'Coconut ',
 'Cotton(lint)',
 'Dry chillies',
 'Gram',
 'Jute',
 'Linseed',
 'Maize',
 'Mesta',
 'Niger seed',
 'Onion',
 'Other  Rabi pulses',
 'Potato',
 'Rapeseed &Mustard',
 'Rice',
 'Sesamum',
 'Small millets',
 'Sugarcane',
 'Sweet potato',
 'Tapioca',
 'Tobacco',
 'Turmeric',
 'Wheat',
 'Bajra',
 'Black pepper',
 'Cardamom',
 'Coriander',
 'Garlic',
 'Ginger',
 'Groundnut',
 'Horse-gram',
 'Jowar',
 'Ragi',
 'Cashewnut',
 'Banana',
 'Soyabean',
 'Barley',
 'Khesari',
 'Masoor',
 'Moong(Green Gram)',
 'Other Kharif pulses',
 'Safflower',
 'Sannhamp',
 'Sunflower',
 'Urad',
 'Peas & beans (Pulses)',
 'other oilseeds',
 'Other Cereals',
 'Cowpea(Lobia)',
 'Oilseeds total',
 'Guar seed',
 'Other Summer Pulses',
 'Moth']